<!DOCTYPE html>
<html lang="en">
<head>

	<title>Contentful Example 1</title>

</head>
<body>

	<h1>
		Books
	</h1>
	<ul>
		{{#each page.items}}
		<li>
			<h2>
				{{this.fields.name}}
			</h2>
			<p>
				by <strong>{{this.fields.author}}</strong>
			</p>
			<div class="book-description">
				{{this.fields.description}}
			</div>
		</li>
		{{/each}}
	</ul>

</body>
</html>
